body {
    color: #5a374a;
    margin: 0;
    padding: 0;
}


/* nav menu */




/* home page main content */

#backgroundimage {
    background: url(../images/whitecatbackground.jpg) no-repeat center center fixed;
	background-size: cover;
    height: 100vh;
}

#purpose {
    padding: 10% 0 0 10%;
}

h2 {
    font-size: 2rem;
}

ul li {
    font-size: 1.2rem;
    font-weight: bold;
}
