body {
    color: #5a374a;
    margin: 0;
    padding: 0;
}


/* main heading and navigation menu */

header {
    background-color: #5a374a;
}

#mainheading {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

#mainheading h1 {
    padding: 0;
    margin: 0;
}

#navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
}

#navigation li a {
    color: #f2f2f2;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #998FC7;
}

.active {
    border-bottom: 1px solid #f2f2f2;
}

/* grid style for navigation */

#home {
    grid-column: 1 / 5;
    grid-row-start: 1;
}

#ourcats {
    grid-column: 1 / 5;
    grid-row-start: 2;
}

#supportus {
    grid-column: 1 / 5;
    grid-row-start: 3;
}

#wheretofindus {
    grid-column: 1 / 5;
    grid-row-start: 4;
}

#home,
#ourcats,
#supportus,
#wheretofindus {
    padding: 5px;
}

/* home page main content */

#backgroundimage {
    background: url(../images/whitecatbackground.jpg) no-repeat center center fixed;
	background-size: cover;
    height: 100vh;
}

#purpose {
    padding: 10% 0 0 10%;
}

h2 {
    font-size: 2rem;
    
}

ul li {
    font-size: 1.2rem;
    font-weight: bold;
}

/* support us button linking to the support us page */

.supportusbutton {
    background-color: #998FC7;
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 120px;
}

.supportusbutton a {
    color: #5a374a;
    font-weight: 700;
    text-decoration: none;
    
}

/* footer */

footer {
    background-color: #5a374a;
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    padding: 0 5px;
}


/* for screen sizes min-width 600px */

@media screen and (min-width: 600px) {

    #home {
        grid-column: 1 / 3;
        grid-row-start: 1;
    }
    
    #ourcats {
        grid-column:  1 / 3;
        grid-row-start: 3;
    }
    
    #supportus {
        grid-column: 3 / 5;
        grid-row-start: 1;
    }
    
    #wheretofindus {
        grid-column: 3 / 5;
        grid-row-start: 3;
    }
}

/* for screen sizes min-width 992px */

@media screen and (min-width: 992px) {

    #home {
        grid-column: 1 / 2;
        grid-row-start: 1;
    }
    
    #ourcats {
        grid-column:  2 / 3;
        grid-row-start: 1;
    }
    
    #supportus {
        grid-column: 3 / 4;
        grid-row-start: 1;
    }
    
    #wheretofindus {
        grid-column: 4 / 5;
        grid-row-start: 1;
    }
}