@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yaldevi&display=swap');

body {
    color: #5a374a;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}


/* main heading and navigation menu */

header {
    background-color: #5a374a;
}

#mainheading {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

#mainheading h1 {
    padding: 0;
    margin: 0;
    font-family: Yaldevi, sans-serif;
}

#navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
}

#navigation li a {
    color: #f2f2f2;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #998FC7;
}

.active {
    border-bottom: 1px solid #f2f2f2;
}

/* grid style for navigation */

#home {
    grid-column: 1 / 5;
    grid-row-start: 1;
}

#ourcats {
    grid-column: 1 / 5;
    grid-row-start: 2;
}

#supportus {
    grid-column: 1 / 5;
    grid-row-start: 3;
}

#wheretofindus {
    grid-column: 1 / 5;
    grid-row-start: 4;
}

#home,
#ourcats,
#supportus,
#wheretofindus {
    padding: 5px;
    font-weight: 400;
}

/* home page main content */

#backgroundimage {
    background: url(../images/whitecatbackground.jpg) no-repeat center center fixed;
	background-size: cover;
    height: 100vh;
}

#purpose {
    padding: 10% 0 0 10%;
}

h2 {
    font-family: Yaldevi, sans-serif;
    font-size: 2rem;
}

ul li {
    font-size: 1.2rem;
    font-weight: bold;
}

/* support us button linking to the support us page */

.supportusbutton {
    background-color: #998FC7;
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 120px;
}

.supportusbutton a {
    color: #5a374a;
    font-weight: 700;
    text-decoration: none;
    
}


/* our cats page */

/* img tag */
#photoathena,
#photocharlie,
#photolucyrosie,
#photomarlene,
#photomilomillie {
    width: 450px;
}

/* div around img tag*/
#athena,
#charlie,
#lucyrosie,
#marlene,
#milomillie {
    overflow: hidden;
}

/* grid */

#catsinformation {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px repeat(10, 300px);
    text-align: center;
}

#catsinformation li {
    list-style-type: none;
}

#ourcatsheading {
    font-family: Yaldevi, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    grid-column: 1 / 5;
    grid-row-start: 1;
    padding: 30px;
}

#athena {
    grid-column: 1 / 3;
    grid-row-start: 2;
}

#infoathena {
    grid-column: 1 / 3;
    grid-row-start: 3;
}

#charlie {
    grid-column: 1 / 3;
    grid-row-start: 4;
}

#infocharlie {
    grid-column: 1 / 3;
    grid-row-start: 5;
}

#lucyrosie {
    grid-column: 1 / 3;
    grid-row-start: 6;
}

#infolucyrosie {
    grid-column: 1 / 3;
    grid-row-start: 7;
}

#marlene {
    grid-column: 1 / 3;
    grid-row-start: 8;
}

#infomarlene {
    grid-column: 1 / 3;
    grid-row-start: 9;
}

#milomillie {
    grid-column: 1 / 3;
    grid-row-start: 10;
}

#infomilomillie {
    grid-column: 1 / 3;
    grid-row-start: 11;
}




/* support us form */

#form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(23, 30px);
}

#formheading {
    font-family: Yaldevi, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    text-align: center;
    padding: 30px;
}

#labelname {
    font-weight: 600;
    grid-column: 1 / 5;
    grid-row-start: 4;
    padding: 5px;
}

#name {
    grid-column: 1 / 5;
    grid-row-start: 5;
    margin: 1px 3px;
}

#labelemail {
    font-weight: 600;
    grid-column: 1 / 5;
    grid-row-start: 6;
    padding: 5px;
}

#email {
    grid-column: 1 / 5;
    grid-row-start: 7;
    margin: 1px 5px;
}

#formparagraph {
    font-weight: 600;
    grid-column: 1 / 5;
    grid-row-start: 9;
    padding: 5px;
}

#labeladopt {
    grid-column-start: 2;
    grid-row-start: 10;
    text-align: right;
}

#radioadopt {
    grid-column-start: 3;
    grid-row-start: 10;
}

#labelvolunteer {
    grid-column-start: 2;
    grid-row-start: 11;
    text-align: right;
}

#radiovolunteer {
    grid-column-start: 3;
    grid-row-start: 11;
}


#labeldonation {
    grid-column-start: 2;
    grid-row-start: 12;
    text-align: right;
}

#radiodonation {
    grid-column-start: 3;
    grid-row-start: 12;
}

#labelcomments {
    font-weight: 600;
    grid-column: 1 / 5;
    grid-row-start: 14;
    padding: 5px;
}

#comments {
    grid-column: 1 / 5;
    grid-row: 15 / 19;
    margin: 1px 3px;
}

#submitbutton {
    background-color: #5a374a;
    color: #f2f2f2;
    font-weight: 600;
    grid-column-start: 3;
    grid-row-start: 20;
    width: 80%;
}

#submitbutton:hover {
    background-color: #998FC7;
}

#resetbutton {
    color: #5a374a;
    font-size: .8rem;
    font-weight: 300;
    grid-column: 3;
    grid-row-start: 22;
    width: 60%;
}

#resetbutton:hover {
    background-color: #998FC7;
}


/* wheretofindus main content */

address {
    display: block;
    font-style: normal;
    text-align: center;
    padding: 10%;
    line-height: 2rem;
}

/* footer */

footer {
    background-color: #5a374a;
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    padding: 0 5px;
}


/* for screen sizes min-width 600px */

@media screen and (min-width: 600px) {

    /* navigation grid */

    #home {
        grid-column: 1 / 3;
        grid-row-start: 1;
    }
    
    #ourcats {
        grid-column:  1 / 3;
        grid-row-start: 3;
    }
    
    #supportus {
        grid-column: 3 / 5;
        grid-row-start: 1;
    }
    
    #wheretofindus {
        grid-column: 3 / 5;
        grid-row-start: 3;
    }
    

    /* our cats grid */
    
    #catsinformation li {
        list-style-type: circle;
    }
    
    
    #infoathena,
    #infocharlie,
    #infolucyrosie,
    #infomarlene,
    #infomilomillie {
        padding-top: 20px;
        text-align: left;
    }
    
    #catsinformation {
        grid-template-rows: 100px repeat(5, 300px) 100px;     
    }
    
    #athena {
        grid-column: 1 / 2;
        grid-row-start: 2;
    }
    
    #infoathena {
        grid-column: 2 / 3;
        grid-row-start: 2;
    }
    
    #charlie {
        grid-column: 1 / 2;
        grid-row-start: 3;
    }
    
    #infocharlie {
        grid-column: 2 / 3;
        grid-row-start: 3;
    }
    
    #lucyrosie {
        grid-column: 1 / 2;
        grid-row-start: 4;
    }
    
    #infolucyrosie {
        grid-column: 2 / 3;
        grid-row-start: 4;
    }
    
    #marlene {
        grid-column: 1 / 2;
        grid-row-start: 5;
    }
    
    #infomarlene {
        grid-column: 2 / 3;
        grid-row-start: 5;
    }

    #photomarlene {
        width: 380px;
    }
    
    #milomillie {
        grid-column: 1 / 2;
        grid-row-start: 6;
    }
    
    #infomilomillie {
        grid-column: 2 / 3;
        grid-row-start: 6;
    }
    

}

/* for screen sizes min-width 992px */

@media screen and (min-width: 992px) {


    /* navigation grid */
    #home {
        grid-column: 1 / 2;
        grid-row-start: 1;
    }
    
    #ourcats {
        grid-column:  2 / 3;
        grid-row-start: 1;
    }
    
    #supportus {
        grid-column: 3 / 4;
        grid-row-start: 1;
    }
    
    #wheretofindus {
        grid-column: 4 / 5;
        grid-row-start: 1;
    }



    /* our cats grid */
    
    #athena,
    #charlie,
    #lucyrosie,
    #marlene,
    #milomillie {
        text-align: right;
    }

    #photomarlene {
        width: 450px;
    }
    

    /* support us form grid */
       
    #labelname {
        grid-column: 2 / 3;
        grid-row-start: 4;
        text-align: right;
    }
    
    #name {
        grid-column: 3 / 4;
        grid-row-start: 4;
        
    }
    
    #labelemail {
        grid-column: 2 / 3;
        grid-row-start: 6;
        text-align: right;
    }
    
    #email {
        grid-column: 3 / 4;
        grid-row-start: 6;
    }
    
    #formparagraph {
        grid-column: 2 / 3;
        grid-row-start: 9;
        text-align: right;
    }
    
    #labeladopt {
        grid-column: 3 / 4;
        grid-row-start: 10;
        text-align: left;        
    }
    
    #radioadopt {
        grid-column: 2 / 3;
        grid-row-start: 10;
        text-align: right;
    }
    
    #labelvolunteer {
        grid-column: 3 / 4;
        grid-row-start: 11;
        text-align: left;
    }
    
    #radiovolunteer {
        grid-column: 2 / 3;
        grid-row-start: 11;
        text-align: right;
    }
    
    
    #labeldonation {
        grid-column: 3 / 4;
        grid-row-start: 12;
        text-align: left;
    }
    
    #radiodonation {
        grid-column: 2 / 3;
        grid-row-start: 12;
        text-align: right;
    }
    
    #labelcomments {
        grid-column: 2 / 3;
        grid-row-start: 14;
        text-align: right;
    }
    
    #comments {
        grid-column: 3 / 4;
        grid-row: 15 / 19;
    }
    
    #submitbutton {
        grid-column-start: 3;
        grid-row-start: 20;
    }
    
    
    
    #resetbutton {
        grid-column: 3;
        grid-row-start: 22;
    }

}